
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 25rem;
  background-color: #777;
  margin-bottom: 10px;
}
.carousel-item > img {
  position: absolute;
  background-image: cover;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 25rem;
  width: 400px;
  
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


 /*Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.centrado{
  margin-left: auto;
  margin-right: auto;
}



/*TODO ESTO LO OCUPO PARA EL HEADER*/
.bg-dark{
  background-color:  rgba(0, 0, 122,0.83) !important;
}
#dropdown01{
  color: white !important;
}
nav a{
  padding: 3px 25px !important;
}
nav a:hover{
  background: #ffc90e !important; 
  border-radius: 20px !important;
  color:black !important;
}
#dropdown01:hover{
  background: #ffc90e !important; 
  border-radius: 20px !important;
  color:black !important;
}
#el-logo:hover{
  background:  rgba(0, 0, 122,0.90)!important; 
  border-radius: 0px !important;
  color:black !important;
}
.imagen-principal{
  width: 100%;
  height: 400px;
  background-color: black;
}
#la-foto{
  background-image: url(../img/ejemplo1.jpg);
  background-repeat: no-repeat;
  background-size:cover
}
.flaticon{
  width: 100%;
  height: 200px;
  background-color: black;
}
#medi{
  background-image: url(../img/medicina.jpg);
  background-repeat: no-repeat;
  background-size:cover
}
#biolo{
  background-image: url(../img/microbiologia.jpg);
  background-repeat: no-repeat;
  background-size:cover
}
#nutri{
  background-image: url(../img/nutricion.jpg);
  background-repeat: no-repeat;
  background-size:cover
}
#arqui{
  background-image: url(../img/arquitectura.jpg);
  background-repeat: no-repeat;
  background-size:cover
}
/*main{
  margin-left: 40px;
  margin-right: 40px;
}*/
.color-boton{
  background-color: #ffc90e !important;
  color: black !important;
  border: none;
}
.color-boton:hover{
  background-color: rgba(0, 0, 122,0.83) !important;
  color: white !important;
  border: none;
}
#aviso1{
  background-image: url(../img/calendarioPago.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 350px;
  background-color: black;
}
#aviso2{
  background-image: url(../img/carnet.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 350px;
  background-color: black;
}
#aviso3{
  background-image: url(../img/Suficiencia.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 350px;
  background-color: black;
}
#aviso4{
  background-image: url(../img/pagoLab.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 350px;
  background-color: black;
}

header{
  font-size: 18px !important; 
  margin-left: auto;
  margin-right: auto;

}
/*body {
  position: static;
  padding-top: 120px !important;
  padding-bottom: 3rem;
  color: #5a5a5a;
}*/
#imglog{
  /*background-image: url(../img/pruebas.jpg) !important; 
  background-size:cover;
  width: 100%;

   
   margin-bottom: 5px; 
   margin-left: 5px;

  height: 150px;*/
  background-color: black;
}
#imglogins{
  background-image: url(../img/pruebas.jpg);background-repeat: no-repeat; background-size:cover;width: 100%;height:400px; margin-left: 25px;
}
#formulario{
  margin-bottom: 20px;
}
.cuadritos-positivos{
  border-radius: 50%;
  padding: 80px;
  background-color: #ffc90e;
  margin-top: 20px;
}
#cuadrito2{
  margin-left: auto;
}
#cuadrito1{
  margin-right: auto;
}
#cuadrito3{
  margin-left: auto;
  margin-right: auto;
}
footer{
  margin: 0%;
  display: block;
}
table{
  border-collapse: separate;
}
th{
  background-color: #006699;
  color: white;
}
#foto-forma{
  background-image: url(../img/img-form.jpg);background-repeat: no-repeat; background-size:cover; height: 100px;
}