#estilos-cuadros{
    background-color: rgba(0, 0, 122,0.94) !important;
    padding: 10px;
    font-weight: normal;
    font-size: 20px;
    border-radius: 5px;
    height:150px;
    margin-left: 5px;
    margin-bottom: 5px; 
 }
 main{
     margin-left: auto;
     margin-right: auto;
 }

 main a{
    color: white!important;
    
 }
 body{
    background-image: url(../../img/pasillo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
 }
 h3{
    background-color: #ffc90e  !important;
    margin-left: auto!important;
    margin-right: auto!important;
  
    padding: 10px;
    border-radius: 5px;
  }

